* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 22px;
}
p {
    font-size: 120%;
}
body > a:nth-child(2) {
    font-style: italic;
}
#content {
    text-align: center;
}
nav a {
    display: block;
    width: 200px;
    background-color: blue;
    border: 2px dashed yellow;
    color: white;
    margin-bottom: 5px;
    padding: 3px;
}
nav a:hover {
    background-color: palegreen;
    color: brown;
}
nav a:active {
    background-color: yellow;
    color: purple;
}
article {
    font-size: 1.2em;

    border: 1px solid black;
}
article h2 {
    font-size: 1.6em;
    color: black;
}

#baseInfor  {
    background-color: #3266a8;
    color: #eb2f2f; 
}
#child  {
    background-color: #bed1f7;
    color: #e30237; 
}
#SchooL  {
    background-color: #eb2f2f;
    color: #8fa9; 
}
#outside  {
    background-color: #2feb2f;
    color: #359; 
}
#univr  {
    background-color: #359;
    color: #000; 
}
.opp {
    font-weight: bold;
}
.up {
    text-transform: uppercase;
}

@media (min-width: 993px) {
    .package {
        display: flex;
        flex-wrap: wrap;
    }
    .bag {
        flex: 1 20%;
        margin: 20px;
    }
    .bag:nth-child(4), .bag:nth-child(5) {
        flex: 1 45%;
    }
    .package article {
        height: 100%;
        padding: 0 5px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .package {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bag {
        flex: 1;
        margin: 20px;
    }
    .bag:nth-child(4), .bag:nth-child(5) {
        flex: 100%;
    }
    .package article {
        height: 100%;
        padding: 0 5px;
    }
}

@media (max-width: 768px) {
    .bag {
        margin-bottom: 50px;
    }
}